@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/* shared styles */
.display-flex{
   display: flex;
}
/* Text colors */
.text-white{
   color: rgba(255, 255, 255, 1);
}
.text-white-80{
   color: rgba(255, 255, 255, 0.8);
}
.text-white-90{
   color: rgba(255, 255, 255, 0.9);
}

.text-violet{
   color: rgba(26, 11, 46, 1);
}
.txt-green{
   color: rgba(0, 255, 136, 1);
}

/* horizontal divider color */
.divider{
   border: none;
   border-top: 1px solid rgba(65, 37, 103, 1);
} 

/* background colors*/
.bg-1{
   background-color: rgba(26, 11, 46, 1);
}

.bg-2{
   background-color: rgba(35, 14, 61, 1);
}

/* card color */
.card-color{
   background-color: rgba(53, 17, 101, 0.4);
}

/* Primary button color */
.btn-bg-color-1{
   background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}
/* Secondary button color */
.btn-bg-color-2{
   background: rgba(0, 255, 136, 1);
}

/* Primary button design */
.btn{
   border: none;
   padding: 12px 16px;
   border-radius: 10000px;
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
}
/* secoondary button design */
.btn-stroke{
   background: transparent;
   border: 2px solid;
   padding: 12px 16px;
   border-radius: 10000px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}

/* using for title h1 tag */
.section-title{
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 40px;
}

/* grid containers padding and area*/
.choose-grid-container>*{
   padding: 40px;
}

/* header styles */

/* navbar related style */
.logo img{
   width: 13.75rem;
   height: 2rem;
}
.navbar{
   max-width: 1200px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 24px 200px;
   /* border: 1px solid red; */
}
.nav-item{
   list-style: none;
   margin-right: 32px;
}
.nav-link{
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   line-height: 120%;
}

/* banner section */

   /* banner bg image */
.banner-container{  
   background-image: url("assets/hero-bg.png");
   background-size: cover;    /*use it cover the whole section */
   background-position: center; /*Center the image*/
   background-repeat: no-repeat;
   padding: 100px 520px;
   /* border: 2px solid red; */
}
.banner {
   display: flex;
   flex-direction: column;
   max-width: 550px;
   margin: 0 auto;
   /* border: 2px solid red; */
}

/* banner circle and mic image */
.circle-img {
   /* border: 2px solid red; */
   position: relative;
   width: 350px;       /* adjust to my circle size */
   height: 350px;
   margin: 0 auto 40px; /* top, right&left, bottom */
   animation: pulse 4s ease-in-out infinite; /* animation */
}
.circle-img img {
   width: 100%;
   height: auto;
}
.mic-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: floatMic 3s ease-in-out infinite; /*animation*/
}
.mic-img img {
   width: 100%;   /* adjust mic size */
   height: auto;
}
/* keyframes for animation */

 @keyframes pulse {   /*keyframe for circle-img */
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.03);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes floatMic {   /*keyframe for mic-img */
   0% {
      transform: translate(-50%, -50%) translateY(0);
   }
   50% {
      transform: translate(-50%, -50%) translateY(-10px);
   }
   100% {
      transform: translate(-50%, -50%) translateY(0);
   }
}

/* banner image badge */
#img-btn{
   position: relative;
   /* border: 2px solid teal; */
}
#img-btn .badge{
   border: none;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 8px 16px;
   border-radius: 1000px;
   position: absolute;
   bottom: 80%;
   left: 70%;
}

/* banner content */
.banner .banner-content h1{
   font-size: 3.75rem;
   font-weight: 800;
   text-align: center;
   margin-bottom: 8px;
}
.banner .banner-content p{
   font-size: 1rem;
   text-align: center;
   margin-bottom: 24px;
}
.banner-container .banner .dual-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
/* main section */
/* about section */

/* already about section er class e background color er jonno bg-1 class add kora hoyese
.about{
   background-color: rgba(26, 11, 46, 1);
   border: 2px solid red;
} */
.about .about-container{
   /* border: 2px solid rgb(35, 196, 155); */
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   padding: 50px 200px 120px;
}
.about-content p{
   font-size: 1rem;
   line-height: 20px;
   margin-bottom: 80px;
}
.about .about-container .about-info{
   justify-content: space-between;
   margin-top: 80px;
}
.about-info .info-card h1 {
   font-size: 3rem;
   font-weight: 900;
   margin-bottom: 16px;
   text-align: center;
}
.about-info .info-card p {
   font-size: 1rem;
   text-align: center;
}

/* choose section */
.choose{
   padding: 120px 200px;
}
.choose .choose-container {
   /* border: 2px solid rgb(35, 196, 155); */
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   /*  */
}

/* define grid area */
.grid-1{
   grid-area: audio;
}
.grid-2{
   grid-area: phone;
}
.grid-3{
   grid-area: global;
}
.grid-4{
   grid-area: interview;
}
.grid-5{
   grid-area: resource;
}
.choose-grid-container{
   display: grid;
   gap: 30px;
   grid-template-areas:
   "audio      phone     phone"
   "audio      global     global"
   "interview  interview  resource";
}
/* .choose-grid-container .grid-1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   border-radius: 40px; /* vertically align kore
} */


/* choose section er shared styles */
/* choose-grid-container er sob grid-$ class er jonno */
.grid-card-design{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   border-radius: 40px; /* vertically align kore*/
}

/* .choose-grid-container .grid-1 .grid-img {
   width: 100%;
}*/
/*grid-img class er jonno */
.grid-img-width {
   width: 100%;
}
/* .choose-grid-container .grid-1 .grid-img img {
   width: 60px;
   height: 60px;
   margin-bottom: 16px;
} */
/* img tag er vitore class adding */
.grid-img-margin {
   width: 60px;
   height: 60px;
   margin-bottom: 16px;
}
/* .choose-grid-container .grid-1 h2 {
   font-size: 1.5rem;
   font-weight: 700;
   align-self: flex-start;
   margin-bottom: 16px;
} */
/* h2 tag er jonno */
.grid-h2 {
   font-size: 1.5rem;
   font-weight: 700;
   align-self: flex-start;
   margin-bottom: 16px;
}
/* .choose-grid-container .grid-1 p {
   font-size: 1rem;
   line-height: 24px;
   text-align: left;
} */
/* p tag er jonno */
.grid-p {
   font-size: 1rem;
   line-height: 24px;
   align-self: flex-start;
}
